* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; 
	transition: 0.3s all;
	font-family: 'Open Sans', sans-serif;
}
	   .col-1 {width: 8.333333333333333%; height: auto; float: left; padding: 15px;}
	   .col-2 {width: 16.66666666666667%; height: auto; float: left; padding: 15px;}
	   .col-3 {width: 25%; height: auto; float: left; padding: 15px;}
	   .col-4 {width: 33.33333333333333%; height: auto; float: left; padding: 15px;}
	   .col-5 {width: 41.66666666666667%; height: auto; float: left; padding: 15px;}
	   .col-6 {width: 50%; height: auto; float: left; padding: 15px;}
	   .col-7 {width: 58.33333333333333%; height: auto; float: left; padding: 15px;}
	   .col-8 {width: 66.66666666666667%; height: auto; float: left; padding: 15px;}
	   .col-9 {width: 75%; height: auto; float: left; padding: 15px;}
	   .col-10 {width: 83.33333333333333%; height: auto; float: left; padding: 15px;}
	   .col-11 {width: 91.66666666666667%; height: auto; float: left; padding: 15px;}
	   .col-12 {width: 100%; height: auto; float: left; padding: 15px;}
	   
	   .container-fluid{ width: 100%; }
	   
	   .container{max-width:1100px;margin: auto;}
	   
	   .img-fluid{width: 100%; height:auto;}
 
		.cl{clear:both;}
a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  text-decoration: none;
}

.header
{
    margin: 0;
    text-align: center;
      background:#0c192b;
      color:white;
      display:flex;
      align-items:center;
      justify-content:center;
      
}

.header p{
color: #dbdbdb !important;
  font-size:12px;
  margin-top:-15px;
  font-weight:600;
  text-align: center;
}
.input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.input {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: none;
  outline: none;
  padding: 18px 16px;
  background-color: transparent;
  cursor: pointer;
  transition: all .5s ease-in-out;
  margin-left: 143px;
}

.input::placeholder {
  color: transparent;
}

.input:focus::placeholder {
  color: rgb(131, 128, 128);
}

.input:focus,.input:not(:placeholder-shown) {
  background-color: #fff;
  border: 1px solid rgb(91, 107, 255);
  width: 290px;
  cursor: none;
  padding: 18px 16px 18px 45px;
}

.icon {
  position: absolute;
  left: 0;
  height: 45px;
  width: 45px;
  background-color: #fff;
  border-radius: 99px;
}

.input:focus + .icon,.input:not(:placeholder-shown) + .icon {
  z-index: 0;
  background-color: transparent;
  border: none;
}

.header img
{
    width:5%;
}
.header h1
{
	padding-top:10px;
    font-size:80px;
    color:white;
    font-family: Baskerville Old Face;
}

.header a
{
  padding:30px;
}
.menu
{
	padding-top:5px;
	text-align: center;
	background:#071d3c;
	margin:0;
	align-items:center;
	justify-content: center;
}
.menu a
{
	color:white;
	padding:30px;
  text-decoration: none;
}

/* Registration Form Wrapper */

.card-right
{
      border-radius:var(--radius);
      background:linear-gradient(180deg, rgba(255,255,255,0.02), rgba(255,255,255,0.01));
      border:1px solid rgba(255,255,255,0.03);
      display:flex;
      flex-direction:column;
      gap:15px;
      justify-content:center
    }

    .avatar-preview
    {
      width:210px;
      height:210px;
      border-radius:9px;
      background-color: #071d3c;
      display:flex;
      align-items:center;
      justify-content:center;
      overflow:hidden}

    .avatar-preview img
    {
      width:100%;
      height:100%;
      object-fit:cover}


.small
{
  margin-left: 269px;
  margin-top: -95px;
  margin-bottom: 10px;
}

.small1
{
  font-size: .875em;
}

.image
{
  width: 40%;
  margin-left: 225px;
}

.reg-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 40px 0;
}

.reg-box {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  padding: 40px;
  width: 80%;
  max-width: 980px;
}

form h2 {
  color:#0c192b;
  font-family:Footlight MT Light;
  margin-bottom: 37px;
  font-size: 45px;
  border-bottom: 2px solid #071d3c;
  display: inline-block;
  padding-bottom: 5px;
}

form label {
  display: block;
  margin: 12px 0 6px;
  font-weight: 500;
}

form input,
form select {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
  transition: 0.2s;
}

form textarea
{
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
  transition: 0.2s;
  height: 144px;
}


form input:focus,
form textarea:focus,
form select:focus {
  border-color: #f2b600;
  box-shadow: 0 0 4px rgba(242, 182, 0, 0.4);
}

.personal {
  display: flex;
  justify-content: space-between;
}

.gender {
  display: flex;
  align-items: center;
  gap: 8px;
}

.gender input[type="radio"] {
  margin-top: 3px;
}

button[type="submit"] {
  background: #0c192b;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 14px 67px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 20px;
  margin-left: 37%;
}

button[type="submit"]:hover {
  background: #082347;
}

/* Checkbox */
.form-check {
  margin: 15px 0;
}

.male 
{
  font-size:18px;
  margin-bottom: -5px;
}

.form-check-label {
  font-size: 14px;
  margin-left: 14px;
  padding-top: 5px;
}




/*   footer   */


footer{
  background-color: #f4f2f0;
  padding: 0px 65px;
  margin-top:50px;
  color:var(--muted);
  text-align:center;
}

footer h4{

  margin-bottom:40px;
  margin-top:20px;
  font-size:30px;
  font-weight: bold;
}

footer a{
  margin-top:30px;
  color:black;
  text-decoration: none;
}


.newsletter-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7;
  font-family: Arial, sans-serif;
  margin-right:-50px;
}

.heading {
  font-weight: bold;
  font-size: 20px;
}

.newsletter-form h2 {
  margin-top: 0;
  color: #333;
  font-size: 24px;
}


.newsletter-form input[type="email"] {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.newsletter-form input[type="submit"] {
  width: 100%;
  padding: 5px;
  border: none;
  border-radius: 4px;
  background: #0c192b;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.newsletter-form input[type="submit"]:hover {
  background-color: #071d3c;
}


.wrapper {
  display: inline-flex;
  list-style: none;
  height: 55px;
  width: 100%;
  font-family: "Poppins", sans-serif;
  justify-content: center;
  padding-left:83%;
  margin-top: -80px;
}

.wrapper .icon {
  position: relative;
  background:#0c192b ;
  color:#fff ;
  border-radius: 50%;
  margin: 10px;
  width: 41px;
  height: 41px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877f2;
  color: black;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1da1f2;
  color: #fff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #e4405f;
  color: #fff;
}

.copyright
{
  color: white;
  background-color:black;
  text-align: center;
  padding:10px;
}






/* Responsive Design */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    gap: 10px;
  }

  .menu a {
    display: block;
    margin: 10px 0;
  }

  .personal {
    flex-direction: column;
  }

  .reg-box {
    width: 95%;
    padding: 20px;
  }
}


.error {
  color: red;
  font-size: 13px;
  margin-top: 3px;
}

