* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; 
	transition: 0.3s all;
	font-family: 'Open Sans', sans-serif;
}
	   .col-1 {width: 8.333333333333333%; height: auto; float: left; padding: 15px;}
	   .col-2 {width: 16.66666666666667%; height: auto; float: left; padding: 15px;}
	   .col-3 {width: 25%; height: auto; float: left; padding: 15px;}
	   .col-4 {width: 33.33333333333333%; height: auto; float: left; padding: 15px;}
	   .col-5 {width: 41.66666666666667%; height: auto; float: left; padding: 15px;}
	   .col-6 {width: 50%; height: auto; float: left; padding: 15px;}
	   .col-7 {width: 58.33333333333333%; height: auto; float: left; padding: 15px;}
	   .col-8 {width: 66.66666666666667%; height: auto; float: left; padding: 15px;}
	   .col-9 {width: 75%; height: auto; float: left; padding: 15px;}
	   .col-10 {width: 83.33333333333333%; height: auto; float: left; padding: 15px;}
	   .col-11 {width: 91.66666666666667%; height: auto; float: left; padding: 15px;}
	   .col-12 {width: 100%; height: auto; float: left; padding: 15px;}
	   
	   .container-fluid{ width: 100%; }
	   
	   .container{max-width:1100px;margin: auto;}
	   
	   .img-fluid{width: 100%; height:auto;}
 
		.cl{clear:both;}
a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  text-decoration: none;
}


.header
{
    margin: 0;
    text-align: center;
      background:#0c192b;
      color:white;
      display:flex;
      align-items:center;
      justify-content:center;
      
}

.header p{
  color: #e5e3e3 !important;
  font-size:12px;
  margin-top:-15px;
  font-weight:600;
  text-align: center;
}
.input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.input {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: none;
  outline: none;
  padding: 18px 16px;
  background-color: transparent;
  cursor: pointer;
  transition: all .5s ease-in-out;
  margin-left: 143px;
}

.input::placeholder {
  color: transparent;
}

.input:focus::placeholder {
  color: rgb(131, 128, 128);
}

.input:focus,.input:not(:placeholder-shown) {
  background-color: #fff;
  border: 1px solid rgb(91, 107, 255);
  width: 290px;
  cursor: none;
  padding: 18px 16px 18px 45px;
}

.icon {
  position: absolute;
  left: 0;
  height: 45px;
  width: 45px;
  background-color: #fff;
  border-radius: 99px;
}

.input:focus + .icon,.input:not(:placeholder-shown) + .icon {
  z-index: 0;
  background-color: transparent;
  border: none;
}

.header img
{
    width:5%;
}
.header h1
{
	padding-top:10px;
    font-size:80px;
    color:white;
    font-family: Baskerville Old Face;
}

.header a
{
  padding:30px;
}
.menu
{
	padding-top:5px;
	text-align: center;
	background:#071d3c;
	margin:0;
	align-items:center;
	justify-content: center;
}
.menu a
{
	color:white;
	padding:30px;
  text-decoration: none;
}


.image_slider
{
  width: 100%;
  height: 800px;
  overflow: hidden;
}

.my_slider img
{
  width: 100%;
  height: 800px;

}

.image_slider figure
{
  position: relative;
  left: 0;
  width: 500%;
  /* width: 400%; */
  animation: 20s my_slider infinite;
}

.my_slider
{
  /* width: 25%; */
  width: 20%;
  position: relative;
  float: left;
}

.my_slider h1,.onep,.twop,.threep,.fourp,.fivep,.one,.two,.twoo,.four,.five,.three
{
  text-align: center;
  margin-top: 50px;
  position:absolute;
  font-size:42px;
}

.my_slider h1{
  margin-top:250px;
  font-size:90px;
  margin-left:60%;
  color:orangered;
  font-family: Castellar;
  font-weight:bold;
  text-shadow: 1px 1px black;
}



@keyframes my_slider
{
  0% {left: 0%;}

  9% {left: 0%;}

  18% {left: -100%;}

  27% {left: -200%;}

  36% {left: -300%;}

  45% {left: -400%;}
 
  54% {left: -400%;}

  63% {left: -300%;}

  72% {left: -200%;}

 81% {left: -100%;}

  90% {left: 0%;}

  100% {left: 0%;}
}




.main_content {
  display: flex;
  padding: 30px;
  gap: 30px;
}



/* Sidebar */
.sidebar {
  width: 220px;
  background: #0c192b;
  color: #fff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  height:inherit;
  margin-top:-132px;
}

.sidebar h2 {
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-size: 1.4em;
  text-align: center;
  margin-top: 60px;
}

.sidebar ul {
  list-style: none;
}

.sidebar ul li {
  margin: 66px 0;
}

.sidebar img
{
  width:20%;
  border-radius:25px;

}

.sidebar ul li a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
  margin-left:10px;
}

.sidebar ul li a:hover {
  color: #071d3c;
  margin-left: 20px;
  
}

/* Product Grid */
.products {
  flex: 3;
  padding: 0 217px;
}


.product-head 
{
  text-align: center;
  margin-top:50px;
}
.product-card
{
  margin-top:10px;
}


.product-card:hover {
  transform: translateY(-5px);
}

.product-card img {
  width: 100%;
  height: 362px;
  object-fit: cover;
  border-radius: 8px;
}

.product-card h3 {
  margin: 10px 0 5px;
  color: #333;
  width:30%;
  font-weight: bold;
}

.product-card p {
  color: #555;
  font-size: 0.95em;
  font-family: Arial, Helvetica, sans-serif;
}

.product-card span {
  color: #0c192b;
  font-weight: bold;
  margin-right: 5px;
}

.product-card s {
  color: #999;
   font-family: Arial, Helvetica, sans-serif;
}

/* Responsive Design */
@media (max-width: 992px) {
  .main_content {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }

  .banner {
    margin-bottom: 20px;
  }
}




/*   recent view   */

.recently_views
{
  border-top: 1px solid #a38f84;
  margin-top:48px;
}


.recently_views h2
{
  font-size:55px;
  font-weight: bold;
  margin-top: 87px;
  text-align: center;
  color:#a38f84 ;
  margin-bottom: 40px;
}


.decor
{
  margin-bottom: 100px;
}

.decor img
{
  width:100%;
  transition: transform .2s;
  margin-bottom:20px;
  margin-top:55px;
  border-radius:15px;
}

.decor_heading 
{
  margin-top:200px;
}

.decor_heading h1
{
  font-size:30px;
  margin-left:108px;
  color: #a38f84;
}

.decor p1
{
  font-size:20px;
  font-weight:normal;
  color:#a38f84;
  font-weight: normal;
}

.decor span
{
  color: red;
  font-size:15px;
}

.decor p2
{
  color:#bdafa8;
  padding-left:20px;
  
}

.decor s{
  font-size:15px;
  margin-left:10px;
}

.decor img:hover
{
  -ms-transform: scale(1.1); 
  -webkit-transform: scale(1.1); 
  transform: scale(1.1); 
}



/*    footer    */


footer{
  background-color: #f4f2f0;
  padding: 50px 36px;
  color:var(--muted);
  text-align:center;
  border-top: 1px solid #a38f84;
}

footer h4{

  margin-bottom:40px;
  margin-top:20px;
  font-size:30px;
  font-weight: bold;
}

footer a{
  margin-top:30px;
  color:black;
  text-decoration: none;
}


.newsletter-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 38px;
  background-color: #f7f7f7;
  font-family: Arial, sans-serif;
  margin-right:-50px;
}

.heading {
  font-weight: bold;
  font-size: 20px;
}

.newsletter-form h2 {
  margin-top: 0;
  color: #333;
  font-size: 24px;
}

.newsletter-form p {
  margin-top:-32px;
}


.newsletter-form input[type="email"] {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.newsletter-form input[type="submit"] {
  width: 100%;
  padding: 5px;
  border: none;
  border-radius: 4px;
  background: #7d6656;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.newsletter-form input[type="submit"]:hover {
  background-color: #ff8533;
}


.wrapper {
  display: inline-flex;
  list-style: none;
  height: 55px;
  width: 100%;
  font-family: "Poppins", sans-serif;
  justify-content: center;
  padding-left:83%;
  margin-top: -40px;
}

.wrapper .icon {
  position: relative;
  background:#a38f84 ;
  color:#fff ;
  border-radius: 50%;
  margin: 10px;
  width: 41px;
  height: 41px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877f2;
  color: black;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1da1f2;
  color: #fff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #e4405f;
  color: #fff;
}

.copyright
{
  color: white;
  background-color:black;
  text-align: center;
  padding:10px;
}
